<!DOCTYPE html>
<html>
<head>
<title>Email Not Verified</title>
<meta charset="UTF-8">
{% load static from staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Orbitron:900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css"%}"/>
<link href="{% static "spaceoutvr/spaceoutvr.css"%}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Email Not Verified</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>We were not able to verify your email address.  Please try to reset your password again, or contact <a class='email' href="mailto:support@spaceoutvr.com">support.</a></p>
            </div>
        </div>

        <div class="row footer">
            <div class="col-md-6">
                <img src="{% static "spaceoutvr/thanks.jpg" %}"/>
            </div>
            <div class="col-md-6">
                <img src="{% static "spaceoutvr/mini_logo_spaceout.jpg"%}"/>
            </div>
        </div>
        
    </div>

</body>
</html>
