<!DOCTYPE html>
<html>
<head>
<title>Password Change</title>
<meta charset="UTF-8">
{% load static from staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Orbitron:900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css"%}"/>
<link href="{% static "spaceoutvr/spaceoutvr.css"%}" rel="stylesheet">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>RESET PASSWORD</h1>
        </div>
    </div>

<form method="post" action="{% url 'password_reset_verified_page' %}">
{% csrf_token %}
{% if form.non_field_errors %}
    Non-Field Errors:<br>
    {{ form.non_field_errors }}
{% endif %}
{% if form.errors %}
    Field Errors:<br>
    <font color="red">{{ form.errors }}</font>
{% endif %}
<div class="row">
    <div class="col-sm-12">
        <input type="password" name="password" placeholder="NEW PASSWORD"><br>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <input type="password" name="password2" placeholder="CONFIRM NEW PASSWORD"><br>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button type="submit" value="Submit" style="font-size:24px;">Submit</button>
    </div>
</div>
<div class="row footer">
    <div class="col-md-6">
        <img src="{% static "spaceoutvr/thanks.jpg" %}"/>
    </div>
    <div class="col-md-6">
        <img src="{% static "spaceoutvr/mini_logo_spaceout.jpg"%}"/>
    </div>
</div>

</form>
</div>
</body>
</html>
