<!DOCTYPE html>
<html>
<head>
<title>Email Verified</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Orbitron:900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
<link href="/static/spaceoutvr/spaceoutvr.css" rel="stylesheet">

</head>
<body>


    <!-- <div class="center"> -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 success">
                <h1>SUCCESS!</h1>
            </div>
            <div class="col-md-6">
                <img src="/static/spaceoutvr/jupiler_logo_spaceout.jpg"/>
            </div>
        </div>

        <div class='row'>
            <div class="col-sm-12">
                <div class='login-button'>
                    <a href="spaceoutvr://launch">
                        <div class='login-button-big'>LOGIN NOW</div>
                        <div class='login-button-small'>From your mobile device</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row footer">
            <div class="col-md-6">
                <img src="/static/spaceoutvr/thanks.jpg"/>
            </div>
            <div class="col-md-6">
                <img src="/static/spaceoutvr/mini_logo_spaceout.jpg"/>
            </div>
        </div>

    </div>


</body>
</html>
